Repository SpongePowered/SpongeDocs, pull requests merged in 2020-04, with the labels that each got.

#827 Add config lister tool - make config page translatable
  source/server/getting-started/configuration/sponge-conf.rst
  tools/README.md
  tools/code-checker/pom.xml
  tools/config-lister/LICENSE.txt
  tools/config-lister/README.md
  tools/config-lister/pom.xml
  tools/config-lister/src/main/java/net/minecraft/launchwrapper/Launch.java
  tools/config-lister/src/main/java/net/minecraft/launchwrapper/LaunchClassLoader.java
  tools/config-lister/src/main/java/net/minecraft/launchwrapper/package-info.java
  tools/config-lister/src/main/java/org/spongepowered/docs/tools/configlister/ConfigLister.java
  tools/javadoc-checker/pom.xml
Labels: outdated docs

#829 Update to API 7.2.0
  source/conf.py
  source/contributing/implementation/mixins.rst
  source/plugin/project/gradle.rst
  source/plugin/project/index.rst
  source/plugin/project/maven.rst
  source/server/getting-started/configuration/sponge-conf.rst
  tools/code-checker/pom.xml
  tools/code-checker/src/main/java/org/spongepowered/docs/tools/codeblock/FileChecker.java
  tools/code-checker/src/main/java/org/spongepowered/docs/tools/codeblock/KeywordPartitioner.java
  tools/code-checker/src/main/java/org/spongepowered/docs/tools/codeblock/OnOffKeywordPredicate.java
  tools/config-lister/src/main/java/org/spongepowered/docs/tools/configlister/ConfigLister.java
  tools/javadoc-checker/pom.xml
Labels: outdated docs

#830 Create Mod (in)Compatibility page
  source/server/spongineer/debugging.rst
  source/server/spongineer/incompatible.rst
  source/server/spongineer/index.rst
  source/server/spongineer/troubleshooting.rst
Labels: help wanted, high priority, input wanted

#831 Add LagGoggles, Phosphor
  source/server/spongineer/incompatible.rst
Labels: input wanted
